@charset "UTF-8";
/* CSS Document */


.nav, .nav * {
	margin:0;
	padding:0;
	list-style:none;
	font-size:0;
}

.nav {
	line-height:1.0;
}

.nav ul {
	position:absolute;
	top:-9999px;
	width:200px;
}

.nav ul li, .nav a {
	width: 100%;
}

.nav li {
	float:left;
	position:relative;
	z-index:9999;
}

.nav a {
	display:block;
}

.nav ul li a{
	text-indent:5px;	
}

.nav li:hover ul, ul.nav li.sfHover ul {
	left:2px;
	top:40px;
}

.nav li:hover li ul, .nav li.sfHover li ul {
	top:-9999px;
}

.nav li li:hover ul, ul.nav li li.sfHover ul {
	left:150px;
	top:-1px;
}

.superfish li:hover ul, .superfish li li:hover ul {
	top: -9999px;
}

.nav {
	float:left;
}

.nav a {
	color: #ccc;
	font-size: 16px;
	font-weight: bold;
	text-decoration:none;
	line-height:40px;
	/*text-indent:5px;*/
}

.nav a:hover{
	background-color:#666;
}

.nav li li a{
	font-size:14px;
	line-height: normal;
	background-color:#444;
}

.nav li li a:hover{
	background-color:#666;

}

.nav li li {
	background:#444;
	padding:5px 0px 5px 0px;
	border:1px #aaa solid;
}


.nav li li li {
	background:#22637F;
	padding:5px 0px 5px 0px;
}

.nav li ul li:hover{
	background-color:#444;
}

/*
#ulCat, #ulLinks{
	height:300px;
	overflow-x:hidden;
	overflow-y:auto;
}
*/